//! colors
//* Main Colors
$color-primary: #202938;
$color-secondary: #0761dc;
$color-secondary-darker: #064fb5;
$color-tertiary: #ff04ab;
$color-tertiary-darker: #cf008a;
//* Other Colors
$color-bg: #111a23;
$color-white: #fff;
$color-black: #000;
$color-subtitle: #7a7a7a;
$color-filter: #4c5564;
$color-orange: #ffa500;
$color-green: green;
$color-red-high: #a41b2f;
$color-red-dark: #710819;
$color-yellow: #ffef00;

//! Font Size
$font-size-sm: 1.1rem;
$font-size-default: 1.5rem;
$font-size-lg: 2.1rem;
$font-size-title: 2.5rem;

//! Font Family
$font-poppins: "Poppins", sans-serif;
$font-rubik: "Rubik", sans-serif;
$font-sans: "DM Sans", sans-serif;

//! width
$main-width: 130rem;

// //! Font Size
$fs-1: 3rem;
$fs-2: 2.5rem;
$fs-3: 2rem;
$fs-4: 1.6rem;
$fs-5: 1.4rem;
$fs-6: 1.2rem;
